.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
    gap: 1.7rem;
    flex-wrap: wrap;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;

}

.whatsapp {
    background-color: #2b990d1f;
}

.linkedin {
    background-color: #0077b51f;
}

.instagram {
    background-color: #c135841f;
}

.mail {
    background-color: #ff17021f;
}

.whatsapp img,
.linkedin img,
.instagram img,
.mail img {
    width: 60%;
}